@model Child_Care_Mangement_System.Models.Meal

@{
    ViewData["Title"] = "AddMeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Add Meal</h1>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddMeal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control" asp-items="ViewBag.MealTypeId"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Carbs" class="control-label">Carbs(in g)</label>
                    <input asp-for="Carbs" class="form-control" />
                    <span asp-validation-for="Carbs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Protein" class="control-label">Protein(in g)</label>
                    <input asp-for="Protein" class="form-control" />
                    <span asp-validation-for="Protein" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fat" class="control-label">Fat(in g)</label>
                    <input asp-for="Fat" class="form-control" />
                    <span asp-validation-for="Fat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sugar" class="control-label">Sugar(in g)</label>
                    <input asp-for="Sugar" class="form-control" />
                    <span asp-validation-for="Sugar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ServingSize" class="control-label">Serving Size(in g)</label>
                    <input asp-for="ServingSize" class="form-control" />
                    <span asp-validation-for="ServingSize" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calorie" class="control-label">Calories</label>
                    <input asp-for="Calorie" class="form-control" />
                    <span asp-validation-for="Calorie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EatWellCategoryId" class="control-label"></label>
                    <select asp-for="EatWellCategoryId" class="form-control" asp-items="ViewBag.EatWellCategoryId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </div>

